<h1>Welcome, <%=@user.username%>!</h1>

<br>

<ul>Orders Index:
  <br>
  <br>
  <%@user.orders.each do |order| %>
    <li><a href="/orders/<%=order.id%>">Order #<%=order.id%></a>
     <%if order.favorite == true%>
        Favorite
    <%end%>
  <%end%></li>
</ul>
<br>
<br>
<h4>I would like to:</h4>
<br>
<ul>
  <li><a href="/orders/new_order">Start a new Order</a></li>
  <li><a href="/users/logout">Log Out</a></li>
</ul>
