<h1>Sign Up Here!</h1>

<form method="post" action="/signup">
  <input type="text" id="username" name="username" value="username"/>
  <input type="text" id="email" name="email" value="email"/>
  <input type="text" id="password" name="password" value="password"/>
  <br>
  <input type="submit" id="submit" name="submit" value="Sign Up!"/>
</form>
