<h1>Edit your Order:</h1>

<form method="post" action="/order">
  <ul><label>What drink type would you like?</label>
        <li><input type="checkbox" id="latte" name="latte" value="Latte"/> Latte</li>
        <li><input type="checkbox" id="cappuccino" name="cappuccino" value="Cappuccino"/> Cappuccino</li>
        <li><input type="checkbox" id="hot coffee" name="hot coffee" value="Hot Coffee"/> Hot Coffee</li>
        <li><input type="checkbox" id="iced coffee" name="iced coffee" value="Iced Coffee"/> Iced Coffee</li>
        <li><input type="checkbox" id="frozen coffee" name="iced coffee" value="Frozen Coffee"/> Frozen Coffee</li>
        <br>
  </ul>
        <p>Additional instructions for your drink? (flavor, foam, toppings)? <input type="text" id="mods" name="mods" value="mods"/></p>
        <p>Would you like to favorite this order? </p>
        <label for="yes">Yes </label><input type="radio" id="yes" name="yes" value="yes"> &nbsp; <label for="no">No </label><input type="radio" id="no" name="no" value="no">
        <br>
        <br>
        <input type="submit" id="submit" name="submit" value="Update my Order!"/>

</form>
