<h1>Edit your Order:</h1>

<form method="post" action="/orders/<%=order.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <ul><label>What drink type would you like to change your order to?</label>
        <%@drinks.each do |drink|%>
          <li><input type="checkbox" name="drinks[]" value="<%= drink.id %>"/> <%= drink.drink_type%></li>
        <%end %>
        <br>
        <p>Would you like to favorite this order? </p>
        <label for="yes">Yes </label><input type="radio" id="yes" name="favorite" value="true"> &nbsp; <label for="no">No </label><input type="radio" id="no" name="favorite" value="false">
        <br>
        <br>
        <input type="submit" id="submit" name="submit" value="Update my Order!"/>
  </ul>
</form>
