<h1>Edit your Order:</h1>

<form method="post" action="/order">
        <input type="text" id="drink1" name="drink1" value="drink1"/>
        <input type="text" id="drink2" name="drink2" value="drink2"/>
        <input type="submit" id="drink3" name="drink3" value="drink3"/>
</form>
