<h1>Order #<%=@order.id%><%if @order.favorite == true%> - Favorited
<%end%>


</h1>
<br>
<ul><%@current_order.each do |orderdrink|%>
  <li><%this_drink = Drink.find_by_id(orderdrink.drink_id)%></li>
  <%=this_drink.drink_type%>
<%end%></ul>
<br>
<a href="/orders/<%=@order.id%>/edit" >Edit this order?</a>
<br>
<a href="/orders/<%=@order.id%>/delete">Delete this order?</a>
